file1
[{"id":"f475e1c3.7d543","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7a783a3f.ca4bf4","type":"inject","z":"f475e1c3.7d543","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"3","x":107.66667175292969,"y":153.55555725097656,"wires":[["90ce78cb.052428"]]},{"id":"1bd92b40.bf26f5","type":"debug","z":"f475e1c3.7d543","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":797.6666717529297,"y":449.5555591583252,"wires":[]},{"id":"90ce78cb.052428","type":"function","z":"f475e1c3.7d543","name":"code","func":"msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":326.6666564941406,"y":268.1111145019531,"wires":[["62597317.7eba5c"]]},{"id":"62597317.7eba5c","type":"http request","z":"f475e1c3.7d543","name":"API (курс валют)","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/pubinfo?exchange&json&coursid=11","tls":"","persist":false,"proxy":"","authType":"","x":598.6666946411133,"y":373.1111125946045,"wires":[["1bd92b40.bf26f5"]]}]
